body {
  padding: 0px;
  margin: 5px;
  font-family: sans-serif;
  background-color:#222;
  color: #FFF;
}


.chart {
  height: 300px;
}

.title {
  font-size: 10px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #000;
}

.footnote {
  font-size: 8px;
  text-align: right;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding: 2px;
  margin-top: 0px;
  background-color: #000;
}